<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SMS</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-Right-Links-icons.css">
    <link rel="stylesheet" href="assets/css/styles.css">


    <body style="background: rgba(255,255,255,0);"><!-- update the version number as needed -->
    <script defer src="/__/firebase/10.10.0/firebase-app-compat.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/10.10.0/firebase-auth-compat.js"></script>
    <script defer src="/__/firebase/10.10.0/firebase-database-compat.js"></script>
    <script defer src="/__/firebase/10.10.0/firebase-firestore-compat.js"></script>
    <script defer src="/__/firebase/10.10.0/firebase-functions-compat.js"></script>
    <script defer src="/__/firebase/10.10.0/firebase-messaging-compat.js"></script>
    <script defer src="/__/firebase/10.10.0/firebase-storage-compat.js"></script>
    <script defer src="/__/firebase/10.10.0/firebase-analytics-compat.js"></script>
    <script defer src="/__/firebase/10.10.0/firebase-remote-config-compat.js"></script>
    <script defer src="/__/firebase/10.10.0/firebase-performance-compat.js"></script>
    <!-- 
      initialize the SDK after all desired features are loaded, set useEmulator to false
      to avoid connecting the SDK to running emulators.
    -->
    <script defer src="/__/firebase/init.js?useEmulator=true"></script>
</head>

<body>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const loadEl = document.querySelector('#load');
        // // 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
        // // The Firebase SDK is initialized and available here!
        //
        // firebase.auth().onAuthStateChanged(user => { });
        // firebase.database().ref('/path/to/ref').on('value', snapshot => { });
        // firebase.firestore().doc('/foo/bar').get().then(() => { });
        // firebase.functions().httpsCallable('yourFunction')().then(() => { });
        // firebase.messaging().requestPermission().then(() => { });
        // firebase.storage().ref('/path/to/ref').getDownloadURL().then(() => { });
        // firebase.analytics(); // call to activate
        // firebase.analytics().logEvent('tutorial_completed');
        // firebase.performance(); // call to activate
        //
        // // 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥

        try {
          let app = firebase.app();
          let features = [
            'auth', 
            'database', 
            'firestore',
            'functions',
            'messaging', 
            'storage', 
            'analytics', 
            'remoteConfig',
            'performance',
          ].filter(feature => typeof app[feature] === 'function');
          loadEl.textContent = `Firebase SDK loaded with ${features.join(', ')}`;
        } catch (e) {
          console.error(e);
          loadEl.textContent = 'Error loading the Firebase SDK, check the console.';
        }
      });


      document.addEventListener("DOMContentLoaded", event => {
        const app = firebase.app();
    });
    
    
    function googleLogin() {
        const provider = new firebase.auth.GoogleAuthProvider();
        
        firebase.auth().signInWithPopup(provider)
            .then(result => {
                const user = result.user;
                document.write(`Hello ${user.displayName}`);
                console.log(user);
            })
            .catch(console.log)
    
    }
    
    </script>
    <nav class="navbar navbar-expand-md bg-body py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="text-primary"><strong>Taransfer</strong></span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about_us.html">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
                </ul>
            </div><button class="btn btn-outline-primary" type="button" style="padding-right: 20px;padding-left: 20px;">Login</button>
        </div>
    </nav>
    <div class="container-fluid py-4 py-xl-5" style="height: 80vh;">
        <div class="row gy-4 gy-md-0" style="height: 100%;">
            <div class="col align-self-center">
                <div class="text-white p-7 p-md-5" style="width: 80%;margin-left: 20%;">
                    <h2 class="fw-bold text-white mb-3"><span style="font-weight: normal !important;">What </span>Tara<span style="font-weight: normal !important;">nsfer is all about?</span></h2>
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis error eos, distinctio nihil in officia nesciunt, necessitatibus et id blanditiis culpa quis fugit fugiat velit incidunt! Cumque fugiat maiores obcaecati!</p><button class="btn btn-light" type="button" onclick="googleLogin()">Login with <strong>Google</strong></button>
                </div>
            </div>
            <div class="col-5 d-md-flex align-items-md-center">
                <div class="card" style="margin-right: 50px;border-radius: 15px;">
                    <div class="card-body fs-1 text-center">
                        <h2 class="card-title">Taransfer</h2>
                        <form enctype="multipart/form-data" method="post" action="/upload">
                            <h5 class="mb-2">Upload your file</h5><input class="form-control" type="file" id="fileToUpload" name="fileToUpload" style="margin-top: 16px;"><input class="btn btn-primary" type="submit" value="Tara! Upload!" style="margin-top: 16px;width: 60%;">
                            <h5 class="mb-2" style="margin-top: 30px;">Receive your file</h5><input class="form-control" type="text" value="Enter Unique ID">
                        </form><input class="btn btn-primary" type="submit" value="Tara! Download!" style="margin-top: 16px;width: 60%;margin-bottom: 16px;">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md fixed-bottom bg-dark">
        <div class="container-fluid">
            <div class="text-center" style="width: 100%;">
                <p class="text-light mb-0">Copyright © 2024 Taransfer</p>
            </div>
        </div>
    </nav>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>